{% extends 'base.html.twig' %}

{% block title %}Hello TwitterController!{% endblock %}

{% block body %}

<div class="container mt-5">


   <h2>Twitter application v.0.1</h2>
   
    <ul>
        <li>Fonction minimal pour gerer les tweet,  timeline, dm</li>
        <li>Bot pour envoyer des tweet automatique apartir des données present dans bot content</li>
        <li>Welcome message</li>
    </ul>
</div>

{% endblock %}
