{% extends 'base.html.twig' %}

{% block title %}Hello TweitterController!{% endblock %}

{% block body %}


<div class="wrapper">

<table>
<tr>
<td>creat at</td><td> tweet.created_at <td/>
<td>message</td>
<td>nb like</td>
<td>nb retweet</td>
<td> action</td>
</tr>

</table>
    <pre>
      {# {{ dump(tweet) }} #}
    </pre>
</div>
{% endblock %}
