{% extends 'base.html.twig' %}

{% block title %}New pouet
{% endblock %}

{% block body %}


	<div class="container-fluid mt-5 minheiffoo">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Post new pouet</h2>
					<p>option a venir : private, public, direct...etc</p>
				</div>
				<div class="col-12">
		
	{{ form(form)}}
				</div>
			</div>
		</div>

	</div>
{% endblock %}
