{% extends 'base.html.twig' %}

{% block title %}Home page!
{% endblock %}

{% block body %}


	{% if is_granted('ROLE_USER') %}

		<section class="container-fluid  minheiffoo">
			<div class="container mt-5">
				<div class="row align-center">
					<div class="col-12 ">
						Dernier message envoyer par le robot :

                        compte twitter : compte name

                        compte mastodon : ionfo compte
					</div>
				</div>
			</div>

		</section>


	{% else %}


		<section class="container-fluid  minheiffoo">
			<div class="container mt-5">
				<div class="row align-center">
					<div class="col-12 ascii-font">
						<h1>Bienvenue Humain !!</h1>
					</div>
					<div class="ascii-art ascii-font ">
						,     ,
						         (\____/)
						          (_oo_)
						            (O)
						          __||__    \)
						       []/______\[] /
						       / \______/ \/
						      /    /__\
						     (\   /____\


					</div>
					<div class="col-12 ascii-font">
						<p>
							<a href="{{ path('app_login') }}">
								Se connecter</a>
						</p>

					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
