body{
    color:aliceblue;
    background-color: rgb(9, 11, 15) !important;
    font-family: lato;
}
input,textarea,select,option{
    background-color: #212529 !important;
    color:aliceblue !important;
    border:none !important;
}

/* Popover */
.popover {
    border: 2px dotted red !important;
    background-color: chartreuse;
  }
  
  /* Popover Header */
  .popover-title {
    background-color: #ad2121 important;
    color: #FFFFFF;
    font-size: 28px;
    text-align:center;
  }
  
  /* Popover Body */
  .popover-content {
    background-color: coral !important;
    color: #FFFFFF;
    padding: 25px;
  }
  
  /* Popover Arrow */
  .arrow {
    border-right-color: red !important;
  }

  .bg-dark-gray{
    background-color: #343a40 !important;
  }

  .dropdown-item:hover {
    color: rgb(216, 216, 216) !important;
    background-color: #16293d !important;
}

.dropdown-item{
  color: rgba(224, 201, 201, 0.55) !important;

}

.form-group{
  margin-bottom: 1.5rem !important;
}

.title-view{
  color:dodgerblue;
  font-weight: bold;
}
.minheiffoo{
  min-height: calc(100vh - 145px);
}

.ascii-art {

  white-space: pre;

}

.ascii-font {
  font-family: monospace;
    color: #00cc00;
}

.heartbeat{
animation: heartbeat 1s  infinite ;

-webkit-background-clip: text;
background-clip: text;
background-image: linear-gradient(60deg, #800404, #f30000);
color: transparent;

}

nav, footer{
  font-family: monospace;
}
@keyframes heartbeat {
  25% { opacity: 0.80; }
  50% { opacity: 0.60; }
  75% { opacity: 0.40; }
  100% { opacity: 0.15; }


}
.bg-gray-02{
  background-color: #373c41;
}