{% extends 'base.html.twig' %}

{% block title %}Hello UserCompteController!{% endblock %}

{% block body %}
<section class="container mt-5 minheiffoo">
    <div class="row">
        <div class="col-12">
            
        <h2>Création d'un compte user </h2>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            
           {{ form(form)}}
            
        </div>
    </div>
</section>
{% endblock %}
